.find__btn {
    padding: 6px;
    width: 40px;
    height: 40px;
    display: block;
    background: #fff;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 7px 0 0 7px;
    cursor: pointer;
}

svg {
    fill: rgb(182, 182, 182);
}