// main styles
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
    @include min-max(320px, 100%, 0);
    background: $mainBackground;
}

.wrap {
    @include min-max(320px, 1200px, 0);
}

#root {
    background: $mainBackground;
    height: 100vh;
}

a {
    color: $linkColor;
    text-decoration: none;
}
